{erl_opts, [
  debug_info, fail_on_warning
]}.

{deps, [
  {poolboy, ".*",
    {git, "https://github.com/devinus/poolboy.git", "master"}},
  {ibrowse, ".*",
    {git, "https://github.com/cmullaparthi/ibrowse.git", "master"}},
  {sync, ".*",
    {git, "https://github.com/rustyio/sync.git", "master"}}
   ]}.